main .leaflet-container {
    height: calc(50vh - 68.5px);
}

main .main-container {
    height: calc(100vh - 68.5px);
}

main .beach-card a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.leaflet-popup-content-wrapper {
    padding: 0;
}

.leaflet-popup-content {
    margin: 0;
    width: 250px !important;
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, rgb(0 127 212 / 0.5)), 0 2px 4px -2px var(--tw-shadow-color, rgb(0 127 212 / 0.5));
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    color: #007FD4;
}

.beach-card.shadow-md:hover {
    --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, rgb(0 127 212 / 0.5)), 0 4px 6px -4px var(--tw-shadow-color, rgb(0 127 212 / 0.5)) !important;
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;
}

@media (min-width: 1024px) {
    main .leaflet-container {
        height: calc(100vh - 68.5px);
    }
    main {
        height: calc(100vh - 68.5px);
    }
    main #beach-list {
        height: calc(100vh - 68.5px);
    }
}