main .leaflet-container {
    height: calc(50vh - 56px);
}

main .main-container {
    height: calc(100vh - 56px);
}

main .beach-card a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (min-width: 1024px) {
    main .leaflet-container {
        height: calc(100vh - 68.5px);
    }
    main {
        overflow: hidden;
        height: calc(100vh - 68.5px);
    }
    main #beach-list {
        height: calc(100vh - 68.5px);
    }
}